.header{
    box-shadow: inset 50px 10px 30px black;
}

.active-style a.active{
    background-color: transparent;
   color: rgba(254, 240, 138, 0.708);
    
}
.active-style a:focus{
    background-color: transparent;
    color: rgba(253, 223, 71, 0.983);
    
}